.footerContainer {
  border-top: 1px solid #ccc;
  padding: 100px;
}
.QuickLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo {
  width: 70px;
}

h3 {
  color: #40196d;
  font-weight: bold;
  padding: 5px 0px;
  font-size: 13px;
}
li {
  list-style: none;
  padding: 15px 0px;
  font-size: 10.5px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
li:hover {
  font-weight: bold;
  font-size: 11px;
}

/* apps */
.apps {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.apps img {
  width: 120px;
  margin-right: 20px;
  height: 120px;
}
.oneLiner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 25px 0px;
  font-size: 14px;
}

/* contactContainer */
.contactContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  flex-wrap: wrap;
}
.contactContainer p {
  padding: 15px 0px;
  line-height: 25px;
  font-size: 12.5px;
  letter-spacing: 1px;
  font-weight: 500;
}
.contactContainer a {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0px;
}
.socials {
  display: flex;
  padding: 20px 0px;
}
.socialIcon {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.footerBottom p {
  padding: 10px 0px;
  font-size: 10.5px;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footerContainer {
    padding: 50px 50px;
  }

  .Logo {
    display: none;
  }

  .apps {
    margin-top: 10px;
    justify-content: center;
  }
}
